FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=cambia-esta-clave
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=BARBERIA
BARBERSHOP_ADDRESS=Wichos Barber
WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
SESSION_COOKIE_SECURE=false
SESSION_COOKIE_SAMESITE=Lax
FRONTEND_ORIGIN=http://localhost:5173,http://127.0.0.1:5173,http://localhost:5174,http://127.0.0.1:5174,http://localhost:4173,http://127.0.0.1:4173
